<div class="container col-xs-10">
    <div class="row">

        <div class="col-xs-12">
            <h1 class="page-header">Administrator
                <!--<small>Department of Zoology, University of Colombo</small>-->
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/BatWeb/index.html">Home</a>
                </li>
                <li class="active">Administrator</li>
            </ol>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-default" onclick="window.location.href='index.html#/profile'">Profile</button>
                <button class="btn btn-default" onclick="window.location.href='index.html#/signupRequest'">Sign up Requests</button>
                <button class="btn btn-default" onclick="window.location.href='index.html#/accountsmanager'">Accounts Manager</button>
            </div>
            </div>
    </div>
</div>