<!-- Page Content -->

<div class="container col-lg-12">

    <div class="row">

        <div class="col-lg-8">
            <h1 class="page-header">Forum Discussion
                <small>Clarify your doubts</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li class="active">Forum Discussion</li>
            </ol>
        </div>

    </div>

    <!-- /.row -->

    <div class="row">

      <hr>

      <!-- Call to Action Section -->
      <div class="well">
          <div class="row">

              <div class="col-md-4">
                 <a class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#addForum">Open a new forum discussion</a>
              </div>
          </div>
      </div>

      <hr>
    </div>



    <div class="row">

        <div class="col-md-1">
            <p><i class="fa fa-file-text fa-4x"></i>
            </p>

            <p>June 24, 2016</p>
        </div>
        <div class="col-md-5">

			<a href="blog-post.html">
                <img src="img/forum_pic1.jpg" class="img-responsive">
            </a>

		</div>

		<div class="col-md-6">
            <h3><a href="blog-post.html">What is the top speed a bat can fly? </a>
            </h3>

            <p>by <a href="#"> S.D. Perera</a>
            </p>

            <p align="justify">You won’t believe how fast bats can fly! The Mexican free-tailed bat, a species found here in the United States,
			can fly 40 mph, and when it’s diving in flight, it has been recorded at speeds of up to 80 mph! Some species,
			like this one, are "built" for fast and long distance flying, others for slower, more maneuverable foraging and
			flight, so they would fly slower. </p>

			<a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>

		</div>

    </div>

    <hr>

    <div class="row">

        <div class="col-md-1">
            <p><i class="fa fa-file-text fa-4x"></i>
            </p>

            <p>June 04, 2016</p>
        </div>


		<div class="col-md-5">
            <a href="blog-post.html">
                <img src="img/forum_pic2.jpg" class="img-responsive">
            </a>
        </div>


		<div class="col-md-6">
            <h3><a href="blog-post.html">Why are bats the only flying mammal?</a>
            </h3>

            <p>by <a href="#">D.P. Fernando</a>
            </p>

            <p align="justify">Bats are the only mammals which have attained powered, flapping flights. Though bats fly, their anatomy are more closely related to humans than to birds. To be able to understand how bats fly, we must first consider the anatomy of their wings.

			Bat wings are highly articulated, with more than two dozen independent joints and a thin flexible membrane covering them. Their wings are similar in structure to the human arm and hand as shown in the picture.</p>

			<a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="col-md-1">
            <p><i class="fa fa-file-text fa-4x"></i>
            </p>

            <p>May 24, 2016</p>
        </div>
        <div class="col-md-5">
            <a href="blog-post.html">
                <img src="img/forum_pic3.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-md-6">
            <h3><a href="blog-post.html">Why are bats able to fly when all other mammals cannot? </a>
            </h3>

            <p>by <a href="#">C.G. Silva</a>
            </p>

            <p align="justify"> Because the ability to fly is one of the characteristics that makes bats such interesting
			creatures and unique from other mammals. The scientific term for bats is “chiroptera”, meaning hand-wing.
			Bats are the only mammals that have hands that have evolved into wings to allow flight. Bats have long, narrow
			fingers that are all connected by a thin membrane to create a light, elastic and strong wing, unlike any other
			mammals. Bats also have very strong chest and back muscles that they use to power flight. Being able to fly at
			night gives bats access to a plentiful food source that most other mammals can’t catch—flying insects! </p>

			<a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>

    <hr>

    <div class="row">

        <ul class="pager">
            <li class="previous"><a href="#">&larr; Older</a>
            </li>
            <li class="next"><a href="#">Newer &rarr;</a>
            </li>
        </ul>

    </div>

</div>
<!-- /.container -->


<!-- Modal -->
<div id="addForum" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>Start Your Discussion</strong></h4>
      </div>





<div class="modal-body">

	  <form class="form-horizontal">

	  <fieldset>

<!-- Form Name -->


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Topic:</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">

  </div>
</div>


<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Your Post:</label>
  <div class="col-md-4">
    <textarea class="form-control" id="textarea" name="textarea"></textarea>
  </div>
</div>
</fieldset>
</form>
</div>



<div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
