<div class="container col-lg-12">

    <div class="row">

        <div class="col-lg-5">
            <div class="row" style="padding-top:10px; padding-left:10px; width:435px;">
                <div>
                  <ol class="breadcrumb" style="">
                      <li><a href="#">Home</a>
                      </li>
                      <li class="active">Distribution</li>
                  </ol>
                </div>
                <h1 class="page-header">Distribution
                    <small>map of bat sightings in Sri Lanka</small>
                </h1>
            </div>
            <div class="row" style="padding-left:10px; width:435px;">
              <div class="well" style="background-color:#b29d85;">
                  <div style="height: 60px;">
                    <h4 style="float: left; padding-bottom: 15px;">Species Filter</h4>
                    <div style="float: right; position: absolute; left: 210px; padding-top: 5px;">
                      <button type="button" class="btn btn-primary btn-sm" ng-click="hideAllMarkers()">Hide All</button>
                      <button type="button" class="btn btn-primary btn-sm" ng-click="showAllMarkers()">Show All</button>
                      <a class="fa fa-question-circle" data-toggle="modal" data-target="#helpDistribution">Help</a>
                    </div>
                  </div>
                  <div class="input-group">
                    <div id="class" ng-repeat="species in allspecies">
                         <div style="height: 40px; padding-left: 20px">
                           <div style="float: left; padding-top: 5px;">
                             {{species.species_name}}
                           </div>
                           <div style="float: right; position: absolute; left: 220px;">
                             <switch name="yesNo" ng-model="species.show" class="small" ng-click="toggle(species.species_id)"></switch>
                           </div>
                         </div>
                    </div>
                  </div>
                  <!-- /input-group -->
              </div>
            </div>
        </div>

        <div class="col-lg-7">
          <div id="map"></div>
        </div>
    </div>

</div>
<!-- /.container -->

//help modal
<div id="helpDistribution" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

  <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>Help to view the distribution of bat species</strong></h4>
      </div>





<div class="modal-body">
	<p><font color="blue"> Here you can view the distribution of bat species by customizing according to your preference. At the beginning you will see a list of species and you will see the distribution of all species on the Sri Lankan map.<br><br>
		If you want to filter and see only some of the species, then you can click the <b><font color="black"> Hide all </font></b> button and then turn on the toggle switch button infront of each species. If it is on then you can see it in <b> <font color="black">Green </font> </b> color.<br><br> </font>

	<font color="green"> If you want to get the information of each sighting which are on the map, Then you have to click a particular sighting point on the map. Then you will see the sighting details using a pop up window. eg: date, species, count,etc </font><br><br>
	</p>
	 <a href="reportSighting1">

	 <img src="img/distribution1.png" width="860" height="480">

	</a>


	  </div>
    </div>

  </div>
</div>
