<div class="container col-xs-10">
    <div class="row">

        <div class="col-xs-12">
            <h1 class="page-header">Add News
                <!--<small>Department of Zoology, University of Colombo</small>-->
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li class="active">Add News</li>
            </ol>
        </div>

    </div>


        <div class="container">
            <div class="row">

                <div class="col-xs-6">
                    <!-- form -->

                    <form name="addNewsForm" ng-submit="submitAddNewsForm()" novalidate>
                        <!--&lt;!&ndash; user id&ndash;&gt;-->
                        <!--<div class="form-group" ng-class="{ 'has-error' : addNewsForm.user_id.$invalid && !addNewsForm.user_id.$pristine }">-->
                            <!--<label>User ID</label>-->
                            <!--<input type="text" name="user_id" class="form-control" ng-model="user_id" required>-->
                            <!--<p ng-show="addNewsForm.user_id.$invalid && !addNewsForm.user_id.$pristine" class="help-block">User ID is required.</p>-->
                        <!--</div>-->

                        <!-- header -->
                        <div class="form-group" ng-class="{ 'has-error' : addNewsForm.header.$invalid && !addNewsForm.header.$pristine }">
                            <label>Title</label>
                            <input type="text" name="header" class="form-control" ng-model="header" required ng-minlength="5" ng-maxlength="50">
                            <p ng-show="addNewsForm.header.$invalid && !addNewsForm.header.$pristine" class="help-block">Title is required.</p>
                            <p ng-show="addNewsForm.header.$error.minlength" class="help-block">Title is too short.</p>
                            <p ng-show="addNewsForm.header.$error.maxlength" class="help-block">Title is too long.</p>
                        </div>

                        <!-- content -->
                        <div class="form-group" ng-class="{ 'has-error' : addNewsForm.content.$invalid && !addNewsForm.content.$pristine }">
                            <label>Content</label>
                            <textarea rows="5" name="content" class="form-control" ng-model="content" ng-minlength="10" ng-maxlength="5000"/>
                            <p ng-show="addNewsForm.content.$error.minlength" class="help-block">Content is too short.</p>
                            <p ng-show="addNewsForm.content.$error.maxlength" class="help-block">Content is too long.</p>
                        </div>

                        <button type="submit" class="btn btn-primary" ng-disabled="addNewsForm.$invalid">Add News</button>
                        </form>
                </div>
            </div>
        </div>

</div>