<!-- Page Content -->

<div class="container col-lg-10">

    <div class="row">

        <div class="col-lg-8">
            <h1 class="page-header">Sightings
                <small>Report and view bat sightings in Sri Lanka</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Sightings</li>
            </ol>
        </div>
        <div class="col-md-4" style="padding-top:50px">
          <div class="well">
              <h4>Search Sightings</h4>
              <div class="input-group">
                  <input type="text" class="form-control">
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                          </button>
                      </span>
              </div>
              <!-- /input-group -->
          </div>
          <!-- /well -->
        </div>
    </div>

    <!-- /.row -->

    <div class="row">

      <hr>

      <!-- Call to Action Section -->
      <div class="well">
          <div class="row">
              <div class="col-md-8">
                  <p>Help us to improve the database by reporting your bat sightings. Please note that the sightings you are reporting need to be approved by the admins before they appear in the distribution map.</p>
              </div>
             
                 <a class="fa fa-question-circle" data-toggle="modal" data-target="#helpSighting">Help</a>
       
			  
			  
              <div id="reportNewSightingBtn" class="col-md-4">
                  <a class="btn btn-lg btn-primary btn-block" ng-click="peaseSignIn()">Report a Sighting</a>
              </div>
          </div>
      </div>

      <hr>
    </div>
    <!-- /.row -->

    <!-- Add sighting modal side menu for map -->

    <div class="row">
          <div pageslide ps-open="checked" ps-size="600px" ps-container="addSightingModalBody">
              <div style="padding:20px" id="demo-right">
                <div id="map1"></div>
                <div class="pull-right" style="padding-top: 7px">
                  <button class = "btn btn-primary btn-md" ng-click = "setLocation()">Done</button>
                  <a ng-click="toggle()" class="btn btn-warning btn-md" >Cancel</a>
                </div>
              </div>
          </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Modal -->
<div id="addSightingModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" id="addSightingModalBody">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>Report New Sighting</strong></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="newSightingForm" novalidate>
        <fieldset>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="sightingDate">Date of the Sighting</label>
          <div class="col-md-4">
          <datepicker date-format="yyyy-MM-dd" date-set="{{date | date:'yyyy-MM-dd'}}" date-max-limit="{{date | date:'yyyy-MM-dd'}}">
          <input id="sightingDate" name="sightingDate" ng-model="newSighting.date" type="text" placeholder="YYYY/MM/DD" class="form-control input-md" style="cursor: pointer;" readonly="readonly" required>
          <p ng-show="newSightingForm.sightingDate.$invalid && newSightingForm.sightingDate.$touched" style="color: #ff3333; font-size:12px;">A date is required.</p>
          </datepicker>
          </div>
        </div>

        <!-- Button Drop Down -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="sightingTime">What time of the day</label>
          <div class="col-md-4">
            <div class="input-group">
              <input id="sightingTime" name="sightingTime" class="form-control" ng-model="newSighting.time" type="text" style="cursor: pointer;" readonly="readonly" required>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Select
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li><a ng-click="newSighting.time= 'Morning'" >Morning (4.00 AM  - 7:00 AM)</a></li>
                  <li><a ng-click="newSighting.time = 'Day Time'" >Day Time (8.00 AM  - 5:00 PM)</a></li>
                  <li><a ng-click="newSighting.time = 'Evening'" >Evening (5:00 PM - 7:00 PM)</a></li>
                  <li><a ng-click="newSighting.time = 'Night Time'" >Night Time (7:00 PM - 4:00 AM)</a></li>
                </ul>
              </div>
            </div>
            <p ng-show="newSightingForm.sightingTime.$invalid && newSightingForm.sightingTime.$touched" style="color: #ff3333; font-size:12px;">A time is required.</p>
          </div>
        </div>

        <!-- Button Drop Down -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="sightingCount">How many Bats were there</label>
          <div class="col-md-4">
            <div class="input-group">
              <input id="sightingCount" name="sightingCount" class="form-control" ng-model="newSighting.count" type="text" style="cursor: pointer;" readonly="readonly" required>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Select
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li><a ng-click="newSighting.count = '1 - 5'" >1 - 5</a></li>
                  <li><a ng-click="newSighting.count = '6 - 30'" >6 - 30</a></li>
                  <li><a ng-click="newSighting.count = '31 - 100'" >31 - 100</a></li>
                  <li><a ng-click="newSighting.count = 'More than 100'" >More than 100</a></li>
                </ul>
              </div>
            </div>
            <p ng-show="newSightingForm.sightingCount.$invalid && newSightingForm.sightingCount.$touched" style="color: #ff3333; font-size:12px;">Please choose from the given values.</p>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="sightignLocation">Location</label>
          <div class="col-md-4">
            <button type="button" id="sightignLocation" name="sightignLocation" class="btn btn-info" ng-click="toggle(); showMap();">Locate in the map</button>
          </div>
        </div>

        <!-- Button Drop Down -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="speciesBehavior">Behavior of the bat</label>
          <div class="col-md-4">
            <div class="input-group">
              <input id="speciesBehavior" name="speciesBehavior" class="form-control" ng-model="newSighting.where" type="text" style="cursor: pointer;" readonly="readonly" required>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Select
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li><a ng-click="newSighting.where = 'In a tree'" >In a tree</a></li>
                  <li><a ng-click="newSighting.where = 'In a house/building'" >In a house/building</a></li>
                  <li><a ng-click="newSighting.where = 'Flying around'" >Flying around</a></li>
                  <li><a ng-click="newSighting.where = 'On ground'" >On ground</a></li>
                  <li><a ng-click="newSighting.where = 'In a cave'" >In a cave (describe in the comments)</a></li>
                  <li><a ng-click="newSighting.where = 'Other'" >Other (describe in the comments)</a></li>
                </ul>
              </div>
            </div>
            <p ng-show="newSightingForm.speciesBehavior.$invalid && newSightingForm.speciesBehavior.$touched" style="color: #ff3333; font-size:12px;">Please choose from the given values.</p>
          </div>
        </div>

        <!-- Species Button Drop Down -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="speciesBehavior">Species</label>
          <div class="col-md-4">
            <div class="input-group">
              <input id="species" name="species" class="form-control" ng-model="newSighting.species" type="text" style="cursor: pointer;" readonly="readonly" required>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Select
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li><a ng-click="newSighting.species = species.species_name" ng-repeat="species in allspecies1">{{species.species_name}}</a></li>
                </ul>
              </div>
            </div>
            <p ng-show="newSightingForm.species.$invalid && newSightingForm.species.$touched" style="color: #ff3333; font-size:12px;">Please choose from the given values.</p>
          </div>
        </div>

        <!-- File Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="sightingImage">Photos</label>
          <div class="col-md-4">
            <input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().getFileDetails(this)" />
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="sightingComments">Any comments</label>
          <div class="col-md-7">
            <textarea class="form-control" id="sightingComments" name="sightingComments" ng-model="newSighting.comments"></textarea>
          </div>
        </div>

        </fieldset>
        </form>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="newSightingForm.$invalid || (newSighting.lat==null) || (newSighting.lng==null)" ng-click="submitSighting(newSighting)">Submit</button>
        <button id="newSightingCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
