<div class="container col-lg-12">

    <div class="row">

        <div class="col-xs-9" ng-init="getAllResearch()">
            <h1 class="page-header">Research
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/BatWeb/index.html">Home</a>
                </li>
                <li class="active">Research</li>
            </ol>
        </div>

        <!--research search-->
        <div class="col-xs-3" style="margin-top: 50px">
            <div class="well">
                <label>Search</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchTerm" ng-change="searchResearch()" >
                </div>
            </div>
            <!-- /well -->
        </div>
        <!---->
        <!--research search end-->

    </div>

    <!--search results-->
    <div ng-show="searchTerm">
        <div class="row" ng-repeat="r in searchResearchList">

            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-12">
                    <h3><a href="">{{r.title}}</a></h3>
                </div>


                <div class="col-xs-6"><p>by <a href="#">{{r.user_email}}</a></p></div>
                <div class="col-xs-6"><span style="float: right">{{r.created_date}} at {{r.created_time}}</span></div>

                <div class="col-xs-12">
                    <p class="text-justify">{{r.description}}</p>
                    <a class="btn btn-primary" href="#/research/{{r.research_id}}">Read More <i class="fa fa-angle-right"></i></a>
                    <hr>
                </div>


            </div>
        </div>
        <div class="col-xs-offset-1 text-info">{{noSearchResFound}}</div>
    </div>

    <!--search results end-->


        <div ng-hide="searchTerm">

            <div class="row" ng-repeat="row in resdatalist">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="col-xs-12">
                        <h3><a href="">{{row.title}}</a></h3>
                    </div>


                    <div class="col-xs-6"><p>by <a href="#">{{row.user_email}}</a></p></div>
                    <div class="col-xs-6"><span style="float: right">{{row.created_date}} at {{row.created_time}}</span></div>

                    <div class="col-xs-12">
                        <p class="text-justify">{{row.description}}</p>
                        <a class="btn btn-primary" href="#/research/{{row.research_id}}">Read More <i class="fa fa-angle-right"></i></a>
                        <hr>
                    </div>


                </div>
            </div>


        </div>

    <div class="row" ng-hide="noSearchResFound">
        <div class="col-xs-offset-1 col-xs-10">
            <ul class="pager">
                <li class="previous"><a href="#">&larr; Older</a>
                </li>
                <li class="next"><a href="#">Newer &rarr;</a>
                </li>
            </ul>
        </div>


    </div>

</div>
<!-- /.container -->
