<div class="col-xs-10">

    <!---->
    <!-- Blog Post Content Column -->
    <div class="col-xs-9">

        <!-- Blog Post -->

        <!-- Title -->
        <h1>{{res_title}}</h1>

        <!-- Author -->
        <p class="lead">
            by <a href="">{{res_user_email}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{res_created_date}} at {{res_created_time}}</p>
        <hr>

        <!-- Preview Image -->
        <!--<img class="img-responsive" src="http://placehold.it/900x300" alt="">-->

        <!--<hr>-->

        <!-- Post Content -->
        <p class="text-justify">{{res_desc}}</p>
        <hr>

        <div class="well">
            <h4>Leave a Comment:</h4>
            <form role="form" ng-submit="addComment()" novalidate>
                <div class="form-group">
                    <textarea name="comm_content" ng-model="comm_content" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <!-- Comment -->
        <div class="media" ng-repeat="comment in commentsList">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{comment.user_email}}
                    <small>August 25, 2014 at 9:30 PM</small>
                </h4>
                <p>{{comment.com_content}}</p>
                <!-- Nested Comment -->
                <div ng-repeat="reply in comment.comment_id.repliesList" ng-init="getRepliesByComment(comment.comment_id)">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{reply.rep_user_email}}
                                <small>August 25, 2014 at 9:30 PM</small>
                            </h4>
                            <p>{{reply.rep_content}}</p>
                        </div>
                    </div>
                </div>

                <!-- End Nested Comment -->
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <br>
        <img src="http://placehold.it/250x250">
        <a href="" class="btn btn-lg btn-primary">Download Research Paper</a>
    </div>

</div>


