<div class="container col-lg-10">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Research
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/BatWeb/index.html">Home</a>
                </li>
                <li class="active">Research</li>
            </ol>
        </div>

    </div>
    <div ng-init="getAllResearch()">


    <div class="row" ng-repeat="row in resdatalist">
        <br>
        <div class="col-xs-1">
            <p>{{row.time}}</p>
        </div>
        <div class="col-xs-5">
            <a href="">
                <img src="http://placehold.it/600x300" class="img-responsive">
            </a>
        </div>
        <div class="col-xs-6">
            <h3><a href="">{{row.title}}</a>
            </h3>

            <p>by <a href="#">{{row.user_email}}</a>
            </p>

            <p>{{row.description}}</p>
            <a class="btn btn-primary" href="">Read More <i class="fa fa-angle-right"></i></a>
        </div>

    </div>


    </div>

    <div class="row">

        <ul class="pager">
            <li class="previous"><a href="#">&larr; Older</a>
            </li>
            <li class="next"><a href="#">Newer &rarr;</a>
            </li>
        </ul>

    </div>

</div>
<!-- /.container -->
