<div class="container col-xs-12">
    <div class="row">

        <div class="col-xs-12">
            <h1 class="page-header">Forgot Password
                <!--<small>Department of Zoology, University of Colombo</small>-->
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/BatWeb/index.html">Home</a>
                </li>
                <li class="active">Forgot Password</li>
            </ol>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <!-- form -->
                <form name="forgotPasswordChangeForm" ng-submit="submitPasswordChange()" novalidate>

                    <!-- password -->
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" ng-model="password" required ng-minlength="4">
                        <p class="stdErrorMsg" ng-show="forgotPasswordChangeForm.password.$error.required && forgotPasswordChangeForm.password.$dirty">password is required.</p>
                        <p class="stdErrorMsg" ng-show="forgotPasswordChangeForm.password.$error.minlength">password is too short.</p>

                    <!-- confirm password-->
                        <label>Confirm Password</label>
                        <input type="password" name="confirmpassword" class="form-control" ng-model="confirmpassword" data-match="password" required ng-minlength="4">
                        <p class="stdErrorMsg" ng-show="forgotPasswordChangeForm.confirmpassword.$error.required && forgotPasswordChangeForm.confirmpassword.$dirty">confirm password is required.</p>
                        <p class="stdErrorMsg" ng-show="forgotPasswordChangeForm.confirmpassword.$error.minlength">confirmpassword is too short.</p>
                        <p class="stdErrorMsg" ng-show="password!=confirmpassword && forgotPasswordChangeForm.confirmpassword.$dirty ">Passwords does not match.</p>
                    <br>
                    <button type="submit" class="btn btn-primary" ng-disabled="forgotPasswordChangeForm.$invalid || forgotPasswordChangeForm.$pristine">Reset</button>
                </form>

            </div>
        </div>

    </div>
</div>
