<div class="container col-xs-12">
    <div class="row">

        <div class="col-xs-12">
            <h1 class="page-header">Forgot Password
                <!--<small>Department of Zoology, University of Colombo</small>-->
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/BatWeb/index.html">Home</a>
                </li>
                <li class="active">Forgot Password</li>
            </ol>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <!-- form -->
                <form name="forgotPasswordForm" ng-submit="submitEmailForPassword()" novalidate>
                    <!-- email -->
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" ng-model="email" required>
                    <p class="stdErrorMsg" ng-show="forgotPasswordForm.email.$error.email && forgotPasswordForm.email.$dirty">Enter a valid email.</p>
                    <p class="stdErrorMsg" ng-show="forgotPasswordForm.email.$error.required && forgotPasswordForm.email.$dirty">Email is required.</p>

                    <br>
                    <button type="submit" class="btn btn-primary" ng-disabled="forgotPasswordForm.$invalid || forgotPasswordForm.$pristine">Send</button>
                </form>

            </div>
        </div>

    </div>
</div>
