<div class="container col-xs-12">
    <div class="row">

        <div class="col-xs-12">
            <h1 class="page-header">Researcher
                <!--<small>Department of Zoology, University of Colombo</small>-->
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/BatWeb/index.html">Home</a>
                </li>
                <li class="active">Researcher</li>
            </ol>
        </div>

    </div>

    <div class="container col-lg-12 col-md-12">
        <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-user fa-5x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge"></div>
                              <div>Manage Your Account!</div>
                          </div>
                      </div>
                  </div>
                  <a href="#/profile">
                      <div class="panel-footer">
                          <span class="pull-left">View Details</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-newspaper-o fa-5x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge"></div>
                              <div>Add New Research!</div>
                          </div>
                      </div>
                  </div>
                  <a href="#/addresearch">
                      <div class="panel-footer">
                          <span class="pull-left">View Form</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-map-marker fa-5x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge"></div>
                              <div>Your Bat Sightings!</div>
                          </div>
                      </div>
                  </div>
                  <a href="#/mysightings">
                      <div class="panel-footer">
                          <span class="pull-left">View Details</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
        </div>
    </div>
</div>

