<div class="container col-xs-12">
    <div class="row">

        <div class="col-xs-12">
            <h1 class="page-header">Sign up
                <!--<small>Department of Zoology, University of Colombo</small>-->
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/BatWeb/index.html">Home</a>
                </li>
                <li class="active">Signup</li>
            </ol>
        </div>

    </div>


        <div class="container">
            <div class="row">

                <div class="col-xs-6">
                    <!-- form -->

                    <form name="signupForm" ng-submit="submitSignupForm()" novalidate>
                        <!-- email -->
                        <div class="form-group" ng-class="{ 'has-error' : signupForm.email.$invalid && !signupForm.email.$pristine }">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" ng-model="email">
                            <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine" class="help-block">Enter a valid email.</p>
                        </div>

                        <!-- password -->
                        <div class="form-group" ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" ng-model="password" required ng-minlength="4" ng-maxlength="25">
                            <p ng-show="signupForm.password.$invalid && !signupForm.password.$pristine" class="help-block">password is required.</p>
                            <p ng-show="signupForm.password.$error.minlength" class="help-block">password is too short.</p>
                            <p ng-show="signupForm.password.$error.maxlength" class="help-block">password is too long.</p>
                        </div>

                        <!-- confirm password-->
                        <div class="form-group" ng-class="{ 'has-error' : signupForm.confirmpassword.$invalid && !signupForm.confirmpassword.$pristine }">
                            <label>Confirm Password</label>
                            <input type="password" name="confirmpassword" class="form-control" ng-model="confirmpassword" required ng-minlength="4" ng-maxlength="25">
                            <p ng-show="signupForm.confirmpassword.$invalid && !signupForm.confirmpassword.$pristine" class="help-block">confirm password is required.</p>
                            <p ng-show="signupForm.confirmpassword.$error.minlength" class="help-block">confirmpassword is too short.</p>
                            <p ng-show="signupForm.confirmpassword.$error.maxlength" class="help-block">confirmpassword is too long.</p>
                        </div>

                        <!-- first name -->
                        <div class="form-group" ng-class="{ 'has-error' : signupForm.first_name.$invalid && !signupForm.first_name.$pristine }">
                            <label>First Name</label>
                            <input type="text" name="first_name" class="form-control" ng-model="first_name" required ng-minlength="2" ng-maxlength="25">
                            <p ng-show="signupForm.first_name.$invalid && !signupForm.first_name.$pristine" class="help-block">first_name is required.</p>
                            <p ng-show="signupForm.first_name.$error.minlength" class="help-block">first_name is too short.</p>
                            <p ng-show="signupForm.first_name.$error.maxlength" class="help-block">first_name is too long.</p>
                        </div>

                        <!-- last name -->
                        <div class="form-group" ng-class="{ 'has-error' : signupForm.last_name.$invalid && !signupForm.last_name.$pristine }">
                            <label>Last Name</label>
                            <input type="text" name="last_name" class="form-control" ng-model="last_name" required ng-minlength="2" ng-maxlength="25">
                            <p ng-show="signupForm.last_name.$invalid && !signupForm.last_name.$pristine" class="help-block">last_name is required.</p>
                            <p ng-show="signupForm.last_name.$error.minlength" class="help-block">last_name is too short.</p>
                            <p ng-show="signupForm.last_name.$error.maxlength" class="help-block">last_name is too long.</p>
                        </div>

                        <!-- institute -->
                        <div class="form-group" ng-class="{ 'has-error' : signupForm.institute.$invalid && !signupForm.institute.$pristine }">
                            <label>Institute</label>
                            <input type="text" name="institute" class="form-control" ng-model="institute" ng-minlength="2" ng-maxlength="50">
                            <p ng-show="signupForm.institute.$error.minlength" class="help-block">institute is too short.</p>
                            <p ng-show="signupForm.institute.$error.maxlength" class="help-block">institute is too long.</p>
                        </div>




                        <button type="submit" class="btn btn-primary" ng-disabled="signupForm.$invalid">Sign up</button>
                        <a class="btn btn-info">Sign in</a>

                    </form>
                </div>
            </div>
        </div>

</div>
