<div class="container col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">Profile
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/BatWeb/index.html">Home</a>
                </li>
                <li class="active">Profile</li>
            </ol>
        </div>

    </div>


    <div class="container">
        <div class="row">

            <div class="col-xs-6">
                <!-- form -->
                <form name="updateForm" ng-submit="submitUpdateForm()" novalidate>

                    <!-- email -->
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" ng-model="email" ng-disabled="true" title="You cannot change your registered email.">
                    </div>



                    <!-- first name -->
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" name="first_name" class="form-control" ng-model="first_name" required ng-minlength="2" ng-pattern ="/^[a-zA-Z\s]*$/">
                        <p class="stdErrorMsg" ng-show="updateForm.first_name.$error.required && updateForm.first_name.$dirty">First name is required.</p>
                        <p class="stdErrorMsg" ng-show="updateForm.first_name.$error.pattern && updateForm.first_name.$dirty">First name is invalid.</p>
                        <p class="stdErrorMsg" ng-show="updateForm.first_name.$error.minlength">First name is too short.</p>

                    </div>


                    <!-- last name -->
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" name="last_name" class="form-control" ng-model="last_name" required ng-minlength="2" ng-pattern ="/^[a-zA-Z\s]*$/">
                        <p class="stdErrorMsg" ng-show="updateForm.last_name.$error.required  && updateForm.last_name.$dirty">Last name is required.</p>
                        <p class="stdErrorMsg" ng-show="updateForm.last_name.$error.pattern  && updateForm.last_name.$dirty">Last name is invalid.</p>
                        <p class="stdErrorMsg" ng-show="updateForm.last_name.$error.minlength" >Last name is too short.</p>

                    </div>


                    <!-- institute -->
                    <div class="form-group">
                        <label>Institute</label>
                        <input type="text" name="institute" class="form-control" ng-model="institute" ng-minlength="2" required ng-pattern ="/^[a-zA-Z\s]*$/">
                        <p class="stdErrorMsg" ng-show="updateForm.institute.$error.required  && updateForm.institute.$dirty">Institute name is required.</p>
                        <p class="stdErrorMsg" ng-show="updateForm.institute.$error.pattern  && updateForm.institute.$dirty">Institute name is invalid.</p>
                        <p class="stdErrorMsg" ng-show="updateForm.institute.$error.minlength" >Institute name is too short.</p>

                    </div>


                    <button type="submit" class="btn btn-primary" ng-disabled="updateForm.$invalid || updateForm.$pristine">Update</button>
                </form>
            </div>

            <!--change password form-->
            <div class="col-xs-5">
                <form name="changePasswordForm" ng-submit="submitChangePasswordForm()" novalidate>
                    <!-- password -->
                    <div class="form-group">
                        <label>Current Password</label>
                        <input type="password" name="currentpassword" class="form-control" ng-model="currentpassword" required>
                        <p class="stdErrorMsg" ng-show="changePasswordForm.currentpassword.$error.required && changePasswordForm.currentpassword.$dirty" > Current password is required.</p>
                    </div>

                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" name="newpassword" class="form-control" ng-model="newpassword" required ng-minlength="4">
                        <p class="stdErrorMsg" ng-show="changePasswordForm.newpassword.$error.required && changePasswordForm.newpassword.$dirty" >New password is required.</p>
                        <p class="stdErrorMsg" ng-show="changePasswordForm.newpassword.$error.minlength">New password is too short.</p>
                    </div>

                    <!-- confirm password-->
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" name="confirmpassword" class="form-control" ng-model="confirmpassword" data-match="newpassword" required ng-minlength="4" >
                        <p class="stdErrorMsg" ng-show="changePasswordForm.confirmpassword.$error.required && changePasswordForm.confirmpassword.$dirty" >Confirm password is required.</p>
                        <p class="stdErrorMsg" ng-show="changePasswordForm.confirmpassword.$error.minlength" >Confirm password is too short.</p>
                        <p class="stdErrorMsg" ng-show="newpassword!=confirmpassword && changePasswordForm.confirmpassword.$dirty ">Passwords does not match.</p>
                    </div>

                    <button type="submit" class="btn btn-primary" ng-disabled="changePasswordForm.$invalid || newpassword!=confirmpassword">Change Password</button>
                </form>
            </div>
        </div>
    </div>

</div>
