<div class="col-lg-12">
    <span ng-controller="HostUrlCtrl"></span>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-image:none">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="#/">BATMAP</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-right top-nav">
                <li ng-controller="SignoutCtrl" ng-hide="isSignedin()">
                    <a href="#/signin"><i class="fa fa-fw fa-sign-in"></i> Signin</a>
                </li>
                <li ng-controller="SignoutCtrl" ng-hide="isSignedin()">
                    <a href="#/signup"><i class="fa fa-fw fa-book"></i> Signup</a>
                </li>
                <li ng-controller="SignoutCtrl" ng-show="isSignedin()">
                    <a href="">{{signedinas}}</a>
                </li>
                <li ng-controller="SignoutCtrl" ng-click="signoutFunc()" ng-show="isSignedin()">
                    <a href=""><i class="fa fa-fw fa-sign-out"></i>Sign out</a>
                </li>
                <li class="dropdown" ng-controller="NotificationCtrl" ng-show="isSignedin()">
                    <a ng-click="bellClicked()" class="dropdown-toggle" data-toggle="dropdown"><i id="bell" class="fa fa-bell fa-1x"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview" ng-repeat="notification in notifications">
                            <a ng-click="moreInfo(notification)" style="cursor: pointer;" >
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>{{notification.notification_type}}</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> {{notification.time}}h</p>
                                        <p></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        <!-- /.navbar-collapse -->

    <!-- /.container -->
</nav>
</div>
<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="col-lg-2">
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        </li>
        <li ng-controller="SignoutCtrl" ng-show="isSignedin()" ng-click="goToDashboard()">
            <a href=""><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <!--<li ng-controller="SignoutCtrl" ng-hide="isSignedin()">-->
            <!--<a href="#/signin"><i class="fa fa-fw fa-sign-in"></i> Signin</a>-->
        <!--</li>-->
        <!--<li ng-controller="SignoutCtrl" ng-hide="isSignedin()">-->
            <!--<a href="#/signup"><i class="fa fa-fw fa-book"></i> Signup</a>-->
        <!--</li>-->
        <li>
            <a href="#/sightings"><i class="fa fa-fw fa-bar-chart-o"></i> Sightings</a>
        </li>
        <li>
            <a href="#/distribution"><i class="fa fa-fw fa-table"></i> Distribution</a>
        </li>
        <li>
            <a href="#/research"><i class="fa fa-fw fa-edit"></i> Research</a>
        </li>
        <!--<li>-->
            <!--<a href="#/news"><i class="fa fa-fw fa-table"></i> Add News</a>-->
        <!--</li>-->
        <li>
            <a href="#/about"><i class="fa fa-fw fa-desktop"></i> About</a>
        </li>
        <li>
            <a href="#/contact"><i class="fa fa-fw fa-phone"></i> Contact</a>
        </li>
        <li>
            <a href="#/blog" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-list"></i> Forum </a>
            <!-- <ul id="demo" class="collapse">
                <li>
                    <a href="#/blog">List of Posts</a>
                </li>
                <li>
                    <a href="#/blog/post">View One Post</a>
                </li>
            </ul> -->
        </li>
        <!--<li ng-controller="SignoutCtrl" ng-click="signoutFunc()" ng-show="isSignedin()">-->
            <!--<a href=""><i class="fa fa-fw fa-sign-out"></i>Sign out</a>-->
        <!--</li>-->
    </ul>
</div>
</div>
<!-- /.navbar-collapse -->
